div.collections-table-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

table.collections-table {
    border-width: 1px;
    border-color: #bdbdbd;
    border-style: solid;
    font-size: 19px;
}

table.collections-table th {
    border-width: 1px;
    border-color: #bdbdbd;
    border-style: solid;
    padding: 5px;
}

table.collections-table td {
    border-width: 1px;
    border-color: #bdbdbd;
    border-style: solid;
}