/* container for the whole component */
.parent-container {
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 99vh;
    perspective: 1000px; /* This gives the 3D effect */
}

/* container for the flashcard */
.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 99vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.parent-container.flipped .flashcard-container {
    transform: rotateY(180deg);
}

/* the flashcard */
.flashcard-front, .flashcard-back {
    padding: 20px;
    background-color: #cbdee6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    min-width: 50vw;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: auto;
    position: absolute;
    backface-visibility: hidden;
}

.flashcard-back {
    transform: rotateY(180deg);
}

.translations-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

p.current-word {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.word-button {
    color: black;
    background-color: #fcfcfc;
    border-color: #a4cee5;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    text-wrap: wrap;
}

.word-button:hover {
    background-color: #f1d6f7;
}

.word-button.correct {
    background-color: #84d495;
}

.word-button.incorrect {
    background-color: #f76c6c;
    text-decoration: line-through;
}
