.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
}

.flashcard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    min-width: 50vw;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: auto; /* Ensure content doesn't overflow the container */
}

.translations-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.word-button {
    background-color: #f0f0f0;
    border-color: #999999;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.word-button:hover {
    background-color: #e0e26b;
}

.word-button.correct {
    background-color: #00ff00;
}

.word-button.incorrect {
    background-color: #ff0000;
}