<div class="parent-container" [ngClass]="{'flipped': isFlipped}">
  @if (frontWord) {
    <div class="flashcard-container">
      <div class="flashcard-front" [attr.tabindex]="isFlipped ? -1 : 0" #flashcardFrontContainer>
        <p class="current-word">
          {{ getPromptText(frontWord, frontGameMode) }}
          @if (frontGameMode == GameMode.Flashcard && frontWord.audioFileName) {
            <button class="audioButton" type="button" (click)="playSound()"
              >
              🔊
            </button>
          }
        </p>
        <div class="translations-container">
          @for (wordOption of frontOptions; track wordOption) {
            <button type="button" class="word-button" (click)="checkAnswer(wordOption)"
              [attr.tabindex]="isFlipped ? -1 : 0" [ngClass]="{'correct': wordOption.isCorrect, 'incorrect': wordOption.isCorrect === false}">
              <span class="translation-text">{{ getOptionText(wordOption.word, frontGameMode) }}</span>
              <br>
                <span class="translation-hint">{{ getOptionHint(wordOption.word, frontGameMode) }}</span>
              </button>
            }
          </div>
        </div>
        <div class="flashcard-back" [attr.tabindex]="isFlipped ? 0 : -1" #flashcardBackContainer>
          <p class="current-word">
            {{ getPromptText(backWord, backGameMode) }}
            @if (backGameMode == GameMode.Flashcard && backWord.audioFileName) {
              <button class="audioButton" type="button" (click)="playSound()"
                >
                🔊
              </button>
            }
          </p>
          <div class="translations-container">
            @for (wordOption of backOptions; track wordOption) {
              <button type="button" class="word-button" (click)="checkAnswer(wordOption)"
                [attr.tabindex]="isFlipped ? 0 : -1" [ngClass]="{'correct': wordOption.isCorrect, 'incorrect': wordOption.isCorrect === false}">
                <span class="translation-text">{{ getOptionText(wordOption.word, backGameMode) }}</span>
                <br>
                  <span class="translation-hint">{{ getOptionHint(wordOption.word, backGameMode) }}</span>
                </button>
              }
            </div>
          </div>
        </div>
      }
    </div>