<div class="root-container">
  <div class="collections-table-container" [formGroup]="parentForm">
    <table class="collections-table">
      <thead>
        <tr>
          <th class="number-col hide-on-small-screens">#</th>
          <th class="word-col">Слово/Перевод</th>
          <th class="collections-col">Наборы</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="words">
          @for (word of paginatedWords; track word; let i = $index) {
            <tr [formGroupName]="word.index">
              <td class="hide-on-small-screens">{{ i + 1 + currentPage * pageSize }}</td>
              <td>
                <span class="word-value">{{ word.group.value.value }}</span>
                <br/>
                <input class="word-translation" type="text" id="meaning-{{ word.index }}" formControlName="translation" />
              </td>
              <td>
                <mat-select multiple formControlName="tags" placeholder="Выберите набор">
                  @for (collection of allCollections; track collection) {
                    <mat-option [value]="collection.name">
                      {{collection.name}}
                    </mat-option>
                  }
                </mat-select>
              </td>
            </tr>
          }
        </ng-container>
      </tbody>
    </table>
    <div class="custom-paginator">
      <button (click)="goToFirstPage()" [disabled]="currentPage === 0">&lt;&lt;</button>
      <button (click)="goToPreviousPage()" [disabled]="currentPage === 0">&lt;</button>
      <span>Страница {{ currentPage + 1 }} / {{ totalPages }}</span>
      <button (click)="goToNextPage()" [disabled]="currentPage >= totalPages - 1">&gt;</button>
      <button (click)="goToLastPage()" [disabled]="currentPage >= totalPages - 1">&gt;&gt;</button>
    </div>
    <hr>
      <div class="word-form">
        <div class="row">
          <div class="column">
            <input type="text" formControlName="newWordValue" placeholder="Новое слово" inputmode="text" lang="hy" />
            <br/>
            <input type="text" formControlName="newWordTranslation" placeholder="Перевод" inputmode="text" lang="ru" />
          </div>
          <div class="column">
            <mat-select multiple formControlName="newWordTags" placeholder="Выберите набор">
              @for (collection of allCollections; track collection) {
                <mat-option [value]="collection.name">
                  {{collection.name}}
                </mat-option>
              }
            </mat-select>
            <br/>
            <button mat-raised-button (click)="addWord()">Добавить слово</button>
          </div>
        </div>
        <hr>
          <div class="row">
            <div class="column">
              <input type="text" formControlName="newCollectionName" placeholder="Новый набор" inputmode="text" lang="ru" />
            </div>
            <div class="column">
              <button mat-raised-button (click)="addCollection()">Добавить набор</button>
            </div>
          </div>
        </div>
        <hr>
          <div class="footer">
            <span>Всего слов: {{ totalWords }}</span>
            <a href="#" class="back-link">Назад</a>
          </div>
        </div>
      </div>