<div class="settings-wrapper" [class]="{'collapsed': isCollapsed}">
    <div class="button-wrapper">
        <button class="settings-button" type="button" (click)="toggleCollapse()">⚙</button>
    </div>
    <div class="settings" [class]="{'collapsed': isCollapsed}">
        <label htmlFor="flipped-mode">
            <input type="checkbox" id="flipped-mode" (change)="toggleFlippedMode($event)" [checked]="flippedModeEnabled" /> Перевёртыши
        </label>
        <label htmlFor="auto-play">
            <input type="checkbox" id="auto-play" (change)="toggleAutoPlay($event)" [checked]="autoPlayEnabled" /> Автопроизнесение слов
        </label>
        <hr>
        <label *ngFor="let collection of wordCollections" [htmlFor]="collection.htmlId + '_checkbox'">
            <input type="checkbox" [id]="collection.htmlId + '_checkbox'"
                (change)="toggleCollectionSelected($event, collection)" [checked]="collection.selected" /> {{ collection.name }}
        </label>
        <hr>
        <a href="#/edit">Редактор слов</a>
    </div>
</div>