<div class="settings-wrapper" [class]="{'collapsed': isCollapsed}">
    <div class="button-wrapper">
        <button class="settings-button" type="button" (click)="toggleCollapse()">⚙</button>
    </div>
    <div class="settings" [class]="{'collapsed': isCollapsed}">
        <span *ngFor="let collection of wordCollections">
            <input type="checkbox" [id]="collection.htmlId + '_checkbox'"
                (change)="toggleCollectionSelected($event, collection)" [checked]="collection.selected" />
            <label [htmlFor]="collection.htmlId + '_checkbox'">{{ collection.name }}</label>
        </span>
    </div>
</div>